*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $body-font;
    color: $body-font-color;
    min-height: 100vh;
}

.container {
    width: 100;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
}

section {
    padding: 7.9rem;
}

.padding-right {
    padding-right: 7.9rem;
}